<div class="page page-profile">

    <div class="row">
        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading"><strong>
                    <span class="glyphicon glyphicon-th"></span> Sobre o animal</strong>
                </div>
                <div class="panel-body">
                    <div class="text-center">
                        <h1>{{animal.name}}
                        <p><small>{{animal.spitz}}<small> </p>
                        </h1>
                    </div>
                    <div class="divider divider-lg"></div>
                    <div class="divider divider-lg"></div>

                    <div class="panel-img">
                        <img alt="" src={{animal.img}} width="100%" class="img-rounded">

                    </div>
                    <h4 class="text-center">
                        <p>{{animal.desciption}}</p>
                    </h4>
                </div>

            </div>
        </div>


        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading"><strong>
                    <span class="glyphicon glyphicon-th"></span> Contato para adoção</strong>
                </div>
                <div class="panel-body">

                    <ul class="list-unstyled list-info">
                        <li>
                            <span class="icon glyphicon glyphicon-user"></span>
                            <label>Contato</label>
                            {{animal.owner.name}}
                        </li>
                        <li>
                            <span class="icon glyphicon glyphicon-envelope"></span>
                            <label>Email</label>
                            {{animal.owner.email}}
                        </li>
                        <li>
                            <span class="icon glyphicon glyphicon-home"></span>
                            <label>Endereço</label>
                            {{animal.owner.city}}
                        </li>
                        <li>
                            <span class="icon glyphicon glyphicon-earphone"></span>
                            <label>Telefone</label>
                            {{animal.owner.tel}}
                        </li>
                    </ul>
                </div>

            </div>
        </div>
    </div>
</div>

<!--
<h1>{{animal.name}}</h1>
<div class="row">
    <div class="col-md-5">
        <img src={{animal.img}} alt="..." class="img-rounded">
    </div>
    <div class="col-md-7">
        <h1><small><strong>Raça:</strong> {{animal.spitz}}</small></h1>
        <p><strong>Animal:</strong> {{animal.type}}</p>
        <p><strong>Descrição:</strong> {{animal.desciption}}</p>
        <p><strong>Tamanho:</strong> {{animal.size}}</p>

        <p><strong>Contato:</strong> {{animal.owner.name}}</p>
        <p><strong>Cidade:</strong> {{animal.owner.city}}</p>
        <p><strong>Telefone:</strong> {{animal.owner.tel}}</p>
        <p><strong>Email:</strong> {{animal.owner.email}}</p>
    </div>
</div>

-->